# Core ML/DL
torch
torchvision

# Image Processing
Pillow
opencv-python
numpy

# Model Libraries
timm

# Config
yacs
PyYAML

# Progress Bar
tqdm

# Utilities
argparse
scikit-image
matplotlib
thop
tensorboardX